/* Styles for the owl.carousel plugin */

.owl-nav {
  display: none;
}
.owl-dots {
  text-align: center;
  margin-bottom: 10px;
}
.owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #273c72;
  &.active {
    background-color: #273c72;
  }
}