.footer {
  margin-top: 30px;
}
.footer__item {
  text-align: center;
  height: 145px;
}
a.footer__item--link {
  color: #5f5f5f;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
a:visited.footer__item--link {
  color: #5f5f5f;
}

.footer__item-content {
  margin-top: 15px;
  & a {
    color: #5f5f5f;
  }
}

.footer__copyright {
  margin-top: 40px;
  color: #a3a3a3;
  font-size: 12px;
}