/**
 * Grid System
 *
 * Mobile has 2 columns, tablet and desktop have 12
 *
 * Example (make the element 6 wide out of a possible 12, but only when at desktop resolution)
 * grid-col-6-at-desktop
 * grid: prefix
 * col: Column, works like common grid columns eg bootstraps
 * 6: how many columns it takes  up. Remember mobile has 2 columns, tab and desktop have 12
 * at-desktop: when to apply this class. Mobile first at-mobile effects all widths unless overwritten.
 *
*/


/* Variables */

//Max width
$max-width: 940px;

// Responsive widths
$desktop-min: 940px;
$tablet-min: 640px;
$mobile-min: 0px;

/* Desktop */

//clearfix for grid elements
.grid-container:after,
.grid-row:after,
.grid-col:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}

.grid-container {
  width: $max-width;
  margin: 0 auto;

}

//Hidden classes

//TODO: figure out a way to cater for older desktops without resorting to this
.hidden-at-old-desk {
  display: none !important;
}
.show-at-old-desk {
  display: block !important;
}

@media (max-width: $tablet-min) {
  .hidden-at-mob {
    display: none !important;
  }
  .show-at-mob {
    display: block !important;
  }
}
@media (min-width: $tablet-min) and (max-width: $desktop-min) {
  .hidden-at-tab {
    display: none !important;
  }
  .show-at-tab {
    display: block !important;
  }
}
@media (min-width: $desktop-min) {
  .hidden-at-desk {
    display: none !important;
  }
  .show-at-desk {
    display: block !important;
  }
}

@media (max-width: $desktop-min) {
  .grid-container {
    width: 100%;
    margin: 0 auto;

  }
}

.grid-row {
  margin: 0;
  padding: 0;
}

// Fallback to desktop for older browsers
// They have to go first. The media queries will
// override these further down the page for modern browsers
// TODO: this is buggy, these don't mobile first correctly for IE8
.grid-col-1-at-desktop,
.grid-col-1-at-tablet {
  float: left;
  width: (100% / 12);
}
.grid-col-2-at-desktop,
.grid-col-2-at-tablet {
  float: left;
  width: (100% / 6);
}
.grid-col-3-at-desktop {
  float: left;
  width: (100% / 4);
}
.grid-col-6-at-desktop, {
  float: left;
  width: (100% / 2);
}
// temporary fix
.grid-col-6-at-old-desktop {
  float: left;
  width: (100% / 2);
}


//hacky reset to reset classes after being added at the top for older browsers
// TODO: figure out how to make the grid fall back nicely with browsers that dont know @media
@media (min-width: 0px) {
  // all browser and devices that recognise @media queries
  .grid-col-1-at-desktop,
  .grid-col-1-at-tablet,
  .grid-col-2-at-desktop,
  .grid-col-2-at-tablet,
  .grid-col-3-at-desktop,
  .grid-col-3-at-tablet,
  .grid-col-6-at-desktop,
  .grid-col-6-at-tablet,
  .grid-col-1-at-mobile,
  .grid-col-2-at-mobile {
    width: 100%;
  }

}
/* Mobile */
// Note: Mobile only has 2 columns
@media (min-width: $mobile-min){
  .grid-col-1-at-mobile {
    float: left;
    width: (100% / 2);
  }
  .grid-col-2-at-mobile,
  {
    float: left;
    width: (100% / 1);
  }
}

/* Tablet */
// Note: tablet has 12 columns
@media (min-width: $tablet-min){

  .grid-col-1-at-tablet {
    float: left;
    width: (100% / 12);
  }
  .grid-col-2-at-tablet {
    float: left;
    width: (100% / 6);
  }
  .grid-col-3-at-tablet {
    float: left;
    width: (100% / 4);
  }
  .grid-col-6-at-tablet {
    float: left;
    width: (100% / 2);
  }
}


/* Desktop */
// Note: Desktop has 12 columns
@media (min-width: $desktop-min){
  .grid-col-1-at-desktop {
    float: left;
    width: (100% / 12);
  }
  .grid-col-2-at-desktop {
    float: left;
    width: (100% / 6);
  }
  .grid-col-3-at-desktop {
    float: left;
    width: (100% / 4);
  }
  .grid-col-6-at-desktop {
    float: left;
    width: (100% / 2);
  }

}





