//Max width
$max-width: 940px;

// Responsive widths
$desktop-min: 940px;
$tablet-min: 640px;
$mobile-min: 0px;

/* Header */

.header {
  min-height: 100px;
}

.header__logo {
  width: 117px;
  margin: 20px 20px 25px 0;
  float:left;
  @media(max-width: $tablet-min){
    display: block;
    margin: 20px auto 10px auto;
    float: none;
  }
}
.header__contact {
  margin: 30px 10px 0 0;
  text-align: right;
  color: #273c72;
  a {
    color: #273c72;
  }
  @media(max-width: $tablet-min){
    margin: 5px 0 0 10px;
    text-align: center;
    margin-left: 5px;
  }
}
.header__contact--phone {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding-top: 5px;
}


.borderradius .header__badge {
  width: 50px;
  height: 50px;
  background-color: #cb1f47;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 27px;
  .text {
    position: relative;
    font-size: 10px;
    line-height: 10px;
    top: 12px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    transform: rotate(10deg);
  }
  @media(max-width: $tablet-min){
    margin-top: 0;
  }
}

.no-borderradius .header__badge {
  width: 51px;
  height: 50px;

  background: url('../resources/images/badge-new-address.png') no-repeat 0 0;
  .text {
    display: none;
  }
}

.header__badge {
  @media(min-width: $tablet-min) and (max-width: $desktop-min){
    margin-right: 20px;
  }
}

/* Navigation */
.nav {
  background-color: #E2F3FD;
  border-bottom: 1px solid #b9cadd;
}

.nav ul {
  display: block;
  list-style: none;


  li {
    display: inline-block;
    width: 19%;
    box-sizing: border-box;
    a {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      padding: 21px 0;
      width: 100%;
      font-weight: 100;
      font-size: 16px;
      text-align: center;
      &.is-selected {
        background-color: #d2ebfc;
      }
      &:hover {
        background-color: #d4e6f3;
      }
    }
  }
}

/* Mobile navigation */
.nav-mob {
  height: 70px;
}

.nav-mob__button {
  width: 60px;
  height: 70px;
  box-sizing: border-box;
  display: inline-block;
  border-right: 1px solid #b9cadd;
  i {
    margin: 27px 0 0 17px;
  }
}

.js-nav-menu {
  display: none;
  position: absolute;
  top: 163px;
  z-index: 100;
  background-color: #fff;
  &.is-open {
    display: block;
  }
}

.nav-mob__overlay {
  position: fixed;
  z-index: 99;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color: rgba(255,255,255,0.5); //no need to fall back to older browser as this is mobile only
}
.nav-mob__items {
  position: relative;
  z-index: 101;
  ul {
    border: 1px solid #b9cadd;
    li {
      a {
        display: block;
        padding: 10px 20px;
        background-color: #BEDDF2;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 100;
        font-size: 16px;


        &.is-selected {
          background-color: #d2ebfc;
        }
        &:hover {
          background-color: #d4e6f3;
        }
      }
    }
  }
}
.nav-mob__address {
  display: inline-block;
}
.nav-mob__phone {
  display: inline-block;
  float:right;
  width: 60px;
  height: 100%;
  border-left: 1px solid #b9cadd;
  i {
    margin: 21px 0 0 17px;
  }
}
