//Max width
$max-width: 940px;

// Responsive widths
$desktop-min: 940px;
$tablet-min: 640px;
$mobile-min: 0px;

.bg-1 {
  background-color: #e2f3fe;
}
.bg-2 {
  background-color: #fff;
}

/* Hero */
.hero {
  height: 410px;
  overflow: hidden;
  @media(max-width: $tablet-min){
    height: 360px;
  }
}

.hero__left {
  @media(min-width: $tablet-min) and (max-width: $desktop-min){
    position: relative;
    z-index: 2;
  }
}

.hero__image {
  float: right;
  margin: 20px 40px 0 0;
  display: block;
  @media(max-width: $tablet-min){
    float:none;
    margin: 20px auto 0 auto;
    width: 260px;
  }
  @media(min-width: $tablet-min) and (max-width: $desktop-min){
    margin: 40px -65px 0 0;
    width: 450px;
  }
  position: relative;
  z-index: 1;

}

@keyframes pop-up {
  from {
    margin-top: 50px;
  }
  to {
    margin-top: 20px;
  }
}

.hero__title {
  display: block;
  margin: 120px 0 0 20px;
  @media (max-width: $desktop-min){
    margin: 40px auto 0 auto;
    width: 225px;
  }
  @media(min-width: $tablet-min) and (max-width: $desktop-min){
    width: 260px;
    margin-top: 160px;
  }
}

.hero__sub-title {
  max-width: 270px;
  text-align: center;
  color: #5f5f5f;
  font-size: 16px;
  line-height: 22px;
  margin: 10px 0 0 50px;
  @media (max-width: $tablet-min){
    margin: 10px auto 0 auto;
  }
}

/* Banners */
.banner {
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding: 40px 0;
  @media(max-width: $desktop-min){
    padding-left: 10px;
    padding-right: 10px;
  }
}

.banner--with-line {
  border-bottom: 1px solid #e8e8e8;
  @media(max-width: $tablet-min){
    border-bottom: none;
  }
}

.banner__title {
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 100;
  color: #cb1f47;
  padding-bottom: 20px;
  @media(max-width: $tablet-min){
    font-size: 22px;
    line-height: 26px;
  }
}

.banner__title--2 {
  color: #273c72;
}

.banner__alt {
  @media(max-width: $tablet-min){
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 20px;
    margin-bottom: 40px;
    .banner__title--2 {
      font-size: 18px;
      line-height: 22px;
      padding: 10px;
    }
  }
}

/* Item boxes */
.item {
  background-color: #e2f3fe;
  width: 210px;
  margin: 130px auto 20px auto;
  text-align: center;
  height: 410px; //TODO: Figure out a way to not need fixed hights here and on mobile.
  @media(max-width: $tablet-min){
    width: 300px;
    height: 370px;
  }
}

.item__image {
  height: 177px;
  width: 177px;
  margin: 0 auto;
  position: relative;
  top: -76px;
}

.item__offset-image {
  position: relative;
  top: -76px;
}

// Images for older browsers
.no-borderradius .item__image--1 {
  background: url('../resources/images/bearded-man--round.jpg') no-repeat 0 0;
}
.no-borderradius .item__image--2 {
  background: url('../resources/images/kids--round.jpg') no-repeat 0 0;
}
.no-borderradius .item__image--3 {
  background: url('../resources/images/smiling-lady--round.jpg') no-repeat 0 0;
}
.no-borderradius .item__image--4 {
  background: url('../resources/images/checkup--round.jpg') no-repeat 0 0;
}

// Images for browsers that can do border radius
.borderradius .item__image--1 {
  background: url('../resources/images/bearded-man--square.jpg') no-repeat 0 0;
  border-radius: 50%;
}
.borderradius .item__image--2 {
  background: url('../resources/images/kids--square.jpg') no-repeat 0 0;
  border-radius: 50%;
}
.borderradius .item__image--3 {
  background: url('../resources/images/smiling-lady--square.jpg') no-repeat 0 0;
  border-radius: 50%;
}
.borderradius .item__image--4 {
  background: url('../resources/images/checkup--square.jpg') no-repeat 0 0;
  border-radius: 50%;
}

.item__title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: #273c72;
  padding: 0 20px;
  min-height: 40px;
  margin-top: 20px;

}

.item__content {
  padding: 10px;
  height: 160px;
  @media(max-width: $tablet-min){
    height: 115px;
  }
}

a.item__button {
  display: inline-block;
  text-decoration: none;
  background-color: #cb1f47;
  color: #fff;
  padding: 10px 15px;
  font-size: 14px;
  margin-bottom: -20px;
  border-radius: 20px;
  &:hover {
    background-color: #ae1f46;
  }
}
a:visited.item__button {
  color: #fff;
}
/* More info Section */
.more-info {
  padding: 40px 0;
  @media (max-width: $desktop-min){
    padding: 30px 30px 0 30px;
  }
}

.more-info--left {
  padding-right: 20px;
  @media (max-width: $desktop-min){
    padding: 30px 30px 0 30px; //no padding bottom
  }
}

.more-info--right {
  @media (max-width: $desktop-min){
    padding: 0 30px 30px 30px; //no padding top
  }
}

.more-info p {
  margin-bottom: 20px;
}

.more-info__title {
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #273c72;
  @media (max-width: $tablet-min) {
    margin: 10px 0 5px 0;
  }
}

.show-carousel {
  display: none;
  @media(max-width: $tablet-min){
    display: block;
  }
}