

//Common icon styles
@mixin icon {
  display: inline-block;
}

.icon--location {
  @include icon;
  width: 43px;
  height: 53px;
  background: url('../resources/icons/location.png') no-repeat 0 0;
}

.icon--phone {
  @include icon;
  width: 44px;
  height: 49px;
  background: url('../resources/icons/phone.png') no-repeat 0 0;
}

.icon--time {
  @include icon;
  width: 54px;
  height: 52px;
  background: url('../resources/icons/time.png') no-repeat 0 0;
}

.icon--facebook {
  @include icon;
  width: 51px;
  height: 51px;
  background: url('../resources/icons/facebook.png') no-repeat 0 0;
}

.icon--menu {
  @include icon;
  width: 21px;
  height: 17px;
  background: url('../resources/icons/hamburger.png') no-repeat 0 0;
  background-size: 21px auto;
}

.icon--phone-blue {
  @include icon;
  width: 25px;
  height: 27px;
  background: url('../resources/icons/phone--blue.png') no-repeat 0 0;
  background-size: 25px auto;
}