body {
  font-family: 'Open Sans', sans-serif;
  color: #5f5f5f;
  font-size: 14px;
  line-height: 18px;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif;
}

a,
a:visited{
  color: #273c72;
}

p {
  font-size: 14px;
  line-height: 20px;
}

.text-small {
  font-size: 14px;
}
.bold {
  font-weight: 700;
}