/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Styles for the owl.carousel plugin */
.owl-nav {
  display: none; }

.owl-dots {
  text-align: center;
  margin-bottom: 10px; }

.owl-dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  display: inline-block;
  border-radius: 50%;
  border: 3px solid #273c72; }
  .owl-dot.active {
    background-color: #273c72; }

.footer {
  margin-top: 30px; }

.footer__item {
  text-align: center;
  height: 145px; }

a.footer__item--link {
  color: #5f5f5f;
  text-decoration: none; }
  a.footer__item--link:hover {
    text-decoration: underline; }

a:visited.footer__item--link {
  color: #5f5f5f; }

.footer__item-content {
  margin-top: 15px; }
  .footer__item-content a {
    color: #5f5f5f; }

.footer__copyright {
  margin-top: 40px;
  color: #a3a3a3;
  font-size: 12px; }

/**
 * Grid System
 *
 * Mobile has 2 columns, tablet and desktop have 12
 *
 * Example (make the element 6 wide out of a possible 12, but only when at desktop resolution)
 * grid-col-6-at-desktop
 * grid: prefix
 * col: Column, works like common grid columns eg bootstraps
 * 6: how many columns it takes  up. Remember mobile has 2 columns, tab and desktop have 12
 * at-desktop: when to apply this class. Mobile first at-mobile effects all widths unless overwritten.
 *
*/
/* Variables */
/* Desktop */
.grid-container:after, .grid-row:after, .grid-col:after {
  content: " ";
  display: block;
  height: 0;
  clear: both; }

.grid-container {
  width: 940px;
  margin: 0 auto; }

.hidden-at-old-desk {
  display: none !important; }

.show-at-old-desk {
  display: block !important; }

@media (max-width: 640px) {
  .hidden-at-mob {
    display: none !important; }

  .show-at-mob {
    display: block !important; }
 }

@media (min-width: 640px) and (max-width: 940px) {
  .hidden-at-tab {
    display: none !important; }

  .show-at-tab {
    display: block !important; }
 }

@media (min-width: 940px) {
  .hidden-at-desk {
    display: none !important; }

  .show-at-desk {
    display: block !important; }
 }

@media (max-width: 940px) {
  .grid-container {
    width: 100%;
    margin: 0 auto; }
 }

.grid-row {
  margin: 0;
  padding: 0; }

.grid-col-1-at-desktop, .grid-col-1-at-tablet {
  float: left;
  width: 8.33333%; }

.grid-col-2-at-desktop, .grid-col-2-at-tablet {
  float: left;
  width: 16.66667%; }

.grid-col-3-at-desktop {
  float: left;
  width: 25%; }

.grid-col-6-at-desktop {
  float: left;
  width: 50%; }

.grid-col-6-at-old-desktop {
  float: left;
  width: 50%; }

@media (min-width: 0px) {
  .grid-col-1-at-desktop, .grid-col-1-at-tablet, .grid-col-2-at-desktop, .grid-col-2-at-tablet, .grid-col-3-at-desktop, .grid-col-3-at-tablet, .grid-col-6-at-desktop, .grid-col-6-at-tablet, .grid-col-1-at-mobile, .grid-col-2-at-mobile {
    width: 100%; }
 }

/* Mobile */
@media (min-width: 0px) {
  .grid-col-1-at-mobile {
    float: left;
    width: 50%; }

  .grid-col-2-at-mobile {
    float: left;
    width: 100%; }
 }

/* Tablet */
@media (min-width: 640px) {
  .grid-col-1-at-tablet {
    float: left;
    width: 8.33333%; }

  .grid-col-2-at-tablet {
    float: left;
    width: 16.66667%; }

  .grid-col-3-at-tablet {
    float: left;
    width: 25%; }

  .grid-col-6-at-tablet {
    float: left;
    width: 50%; }
 }

/* Desktop */
@media (min-width: 940px) {
  .grid-col-1-at-desktop {
    float: left;
    width: 8.33333%; }

  .grid-col-2-at-desktop {
    float: left;
    width: 16.66667%; }

  .grid-col-3-at-desktop {
    float: left;
    width: 25%; }

  .grid-col-6-at-desktop {
    float: left;
    width: 50%; }
 }

/* Header */
.header {
  min-height: 100px; }

.header__logo {
  width: 117px;
  margin: 20px 20px 25px 0;
  float: left; }
  @media (max-width: 640px) {
    .header__logo {
      display: block;
      margin: 20px auto 10px auto;
      float: none; } }

.header__contact {
  margin: 30px 10px 0 0;
  text-align: right;
  color: #273c72; }
  .header__contact a {
    color: #273c72; }
  @media (max-width: 640px) {
    .header__contact {
      margin: 5px 0 0 10px;
      text-align: center;
      margin-left: 5px; } }

.header__contact--phone {
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  padding-top: 5px; }

.borderradius .header__badge {
  width: 50px;
  height: 50px;
  background-color: #cb1f47;
  border-radius: 50%;
  vertical-align: top;
  margin-top: 27px; }
  .borderradius .header__badge .text {
    position: relative;
    font-size: 10px;
    line-height: 10px;
    top: 12px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    -webkit-transform: rotate(10deg);
        -ms-transform: rotate(10deg);
            transform: rotate(10deg); }
  @media (max-width: 640px) {
    .borderradius .header__badge {
      margin-top: 0; } }

.no-borderradius .header__badge {
  width: 51px;
  height: 50px;
  background: url('../resources/images/badge-new-address.png') no-repeat 0 0; }
  .no-borderradius .header__badge .text {
    display: none; }

@media (min-width: 640px) and (max-width: 940px) {
  .header__badge {
    margin-right: 20px; } }

/* Navigation */
.nav {
  background-color: #E2F3FD;
  border-bottom: 1px solid #b9cadd; }

.nav ul {
  display: block;
  list-style: none; }
  .nav ul li {
    display: inline-block;
    width: 19%;
    box-sizing: border-box; }
    .nav ul li a {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      padding: 21px 0;
      width: 100%;
      font-weight: 100;
      font-size: 16px;
      text-align: center; }
      .nav ul li a.is-selected {
        background-color: #d2ebfc; }
      .nav ul li a:hover {
        background-color: #d4e6f3; }

/* Mobile navigation */
.nav-mob {
  height: 70px; }

.nav-mob__button {
  width: 60px;
  height: 70px;
  box-sizing: border-box;
  display: inline-block;
  border-right: 1px solid #b9cadd; }
  .nav-mob__button i {
    margin: 27px 0 0 17px; }

.js-nav-menu {
  display: none;
  position: absolute;
  top: 163px;
  z-index: 100;
  background-color: #fff; }
  .js-nav-menu.is-open {
    display: block; }

.nav-mob__overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5); }

.nav-mob__items {
  position: relative;
  z-index: 101; }
  .nav-mob__items ul {
    border: 1px solid #b9cadd; }
    .nav-mob__items ul li a {
      display: block;
      padding: 10px 20px;
      background-color: #BEDDF2;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 16px; }
      .nav-mob__items ul li a.is-selected {
        background-color: #d2ebfc; }
      .nav-mob__items ul li a:hover {
        background-color: #d4e6f3; }

.nav-mob__address {
  display: inline-block; }

.nav-mob__phone {
  display: inline-block;
  float: right;
  width: 60px;
  height: 100%;
  border-left: 1px solid #b9cadd; }
  .nav-mob__phone i {
    margin: 21px 0 0 17px; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.ib {
  display: inline-block; }

.no-underline {
  text-decoration: none; }

.text-center {
  text-align: center; }

.bg-1 {
  background-color: #e2f3fe; }

.bg-2 {
  background-color: #fff; }

/* Hero */
.hero {
  height: 410px;
  overflow: hidden; }
  @media (max-width: 640px) {
    .hero {
      height: 360px; } }

@media (min-width: 640px) and (max-width: 940px) {
  .hero__left {
    position: relative;
    z-index: 2; } }

.hero__image {
  float: right;
  margin: 20px 40px 0 0;
  display: block;
  position: relative;
  z-index: 1; }
  @media (max-width: 640px) {
    .hero__image {
      float: none;
      margin: 20px auto 0 auto;
      width: 260px; } }
  @media (min-width: 640px) and (max-width: 940px) {
    .hero__image {
      margin: 40px -65px 0 0;
      width: 450px; } }

@-webkit-keyframes pop-up {
  from {
    margin-top: 50px; }

  to {
    margin-top: 20px; } }

@keyframes pop-up {
  from {
    margin-top: 50px; }

  to {
    margin-top: 20px; } }

.hero__title {
  display: block;
  margin: 120px 0 0 20px; }
  @media (max-width: 940px) {
    .hero__title {
      margin: 40px auto 0 auto;
      width: 225px; } }
  @media (min-width: 640px) and (max-width: 940px) {
    .hero__title {
      width: 260px;
      margin-top: 160px; } }

.hero__sub-title {
  max-width: 270px;
  text-align: center;
  color: #5f5f5f;
  font-size: 16px;
  line-height: 22px;
  margin: 10px 0 0 50px; }
  @media (max-width: 640px) {
    .hero__sub-title {
      margin: 10px auto 0 auto; } }

/* Banners */
.banner {
  background-color: #fff;
  position: relative;
  z-index: 2;
  padding: 40px 0; }
  @media (max-width: 940px) {
    .banner {
      padding-left: 10px;
      padding-right: 10px; } }

.banner--with-line {
  border-bottom: 1px solid #e8e8e8; }
  @media (max-width: 640px) {
    .banner--with-line {
      border-bottom: none; } }

.banner__title {
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-size: 28px;
  line-height: 36px;
  font-weight: 100;
  color: #cb1f47;
  padding-bottom: 20px; }
  @media (max-width: 640px) {
    .banner__title {
      font-size: 22px;
      line-height: 26px; } }

.banner__title--2 {
  color: #273c72; }

@media (max-width: 640px) {
  .banner__alt {
    border-top: 1px solid #d3d3d3;
    border-bottom: 1px solid #d3d3d3;
    padding: 20px;
    margin-bottom: 40px; }
    .banner__alt .banner__title--2 {
      font-size: 18px;
      line-height: 22px;
      padding: 10px; } }

/* Item boxes */
.item {
  background-color: #e2f3fe;
  width: 210px;
  margin: 130px auto 20px auto;
  text-align: center;
  height: 410px; }
  @media (max-width: 640px) {
    .item {
      width: 300px;
      height: 370px; } }

.item__image {
  height: 177px;
  width: 177px;
  margin: 0 auto;
  position: relative;
  top: -76px; }

.item__offset-image {
  position: relative;
  top: -76px; }

.no-borderradius .item__image--1 {
  background: url('../resources/images/bearded-man--round.jpg') no-repeat 0 0; }

.no-borderradius .item__image--2 {
  background: url('../resources/images/kids--round.jpg') no-repeat 0 0; }

.no-borderradius .item__image--3 {
  background: url('../resources/images/smiling-lady--round.jpg') no-repeat 0 0; }

.no-borderradius .item__image--4 {
  background: url('../resources/images/checkup--round.jpg') no-repeat 0 0; }

.borderradius .item__image--1 {
  background: url('../resources/images/bearded-man--square.jpg') no-repeat 0 0;
  border-radius: 50%; }

.borderradius .item__image--2 {
  background: url('../resources/images/kids--square.jpg') no-repeat 0 0;
  border-radius: 50%; }

.borderradius .item__image--3 {
  background: url('../resources/images/smiling-lady--square.jpg') no-repeat 0 0;
  border-radius: 50%; }

.borderradius .item__image--4 {
  background: url('../resources/images/checkup--square.jpg') no-repeat 0 0;
  border-radius: 50%; }

.item__title {
  display: inline-block;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  color: #273c72;
  padding: 0 20px;
  min-height: 40px;
  margin-top: 20px; }

.item__content {
  padding: 10px;
  height: 160px; }
  @media (max-width: 640px) {
    .item__content {
      height: 115px; } }

a.item__button {
  display: inline-block;
  text-decoration: none;
  background-color: #cb1f47;
  color: #fff;
  padding: 10px 15px;
  font-size: 14px;
  margin-bottom: -20px;
  border-radius: 20px; }
  a.item__button:hover {
    background-color: #ae1f46; }

a:visited.item__button {
  color: #fff; }

/* More info Section */
.more-info {
  padding: 40px 0; }
  @media (max-width: 940px) {
    .more-info {
      padding: 30px 30px 0 30px; } }

.more-info--left {
  padding-right: 20px; }
  @media (max-width: 940px) {
    .more-info--left {
      padding: 30px 30px 0 30px; } }

@media (max-width: 940px) {
  .more-info--right {
    padding: 0 30px 30px 30px; } }

.more-info p {
  margin-bottom: 20px; }

.more-info__title {
  margin: 20px 0 10px 0;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #273c72; }
  @media (max-width: 640px) {
    .more-info__title {
      margin: 10px 0 5px 0; } }

.show-carousel {
  display: none; }
  @media (max-width: 640px) {
    .show-carousel {
      display: block; } }

.icon--location {
  display: inline-block;
  width: 43px;
  height: 53px;
  background: url('../resources/icons/location.png') no-repeat 0 0; }

.icon--phone {
  display: inline-block;
  width: 44px;
  height: 49px;
  background: url('../resources/icons/phone.png') no-repeat 0 0; }

.icon--time {
  display: inline-block;
  width: 54px;
  height: 52px;
  background: url('../resources/icons/time.png') no-repeat 0 0; }

.icon--facebook {
  display: inline-block;
  width: 51px;
  height: 51px;
  background: url('../resources/icons/facebook.png') no-repeat 0 0; }

.icon--menu {
  display: inline-block;
  width: 21px;
  height: 17px;
  background: url('../resources/icons/hamburger.png') no-repeat 0 0;
  background-size: 21px auto; }

.icon--phone-blue {
  display: inline-block;
  width: 25px;
  height: 27px;
  background: url('../resources/icons/phone--blue.png') no-repeat 0 0;
  background-size: 25px auto; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #5f5f5f;
  font-size: 14px;
  line-height: 18px; }

h1, h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif; }

a, a:visited {
  color: #273c72; }

p {
  font-size: 14px;
  line-height: 20px; }

.text-small {
  font-size: 14px; }

.bold {
  font-weight: 700; }
